@model Interview.UI.Models.RequestViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Talep Detayı</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileStr)
        </dt>

        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.FileStr)*@
            <a href="#"><img style="width:20%" src="data:image;base64, @Model.FileStr" /></a>
        </dd>
    </dl>

    <form asp-action="Detail" asp-controller="Request" method="post" asp-antiforgery="true">
        
        <input type="hidden" asp-for="Id" a />
        <input type="hidden" asp-for="FileStr" a />
        <input type="hidden" asp-for="Id" a />
        <input type="hidden" asp-for="Message" a />
        <input type="hidden" asp-for="Name" a />
        <input type="hidden" asp-for="Surname" a />
        <input type="hidden" asp-for="UserId" a />

        <label asp-for="AdminMessage" class="control-label"></label>
        <input asp-for="AdminMessage" type="text" class="form-control" />
        <span asp-validation-for="AdminMessage" class="text-danger"></span>

        <label asp-for="IsPositive" class="control-label"></label>
        <input asp-for="IsPositive" type="checkbox" class="form-control" />
        <span asp-validation-for="IsPositive" class="text-danger"></span>
        <hr />
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </form>
</div>
<div>
    <a asp-action="List">Talep Listesi</a>
</div>
