@model IEnumerable<Interview.UI.Models.RequestViewModel>

@{
    ViewData["Title"] = "ListTheOld";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Geçmiş Talepler</h1>

<a href="#">Listeyi indir</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPositive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminMessage)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @(item.IsPositive ? "Olumlu" : "Olumsuz")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminMessage)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>

            </tr>
        }
    </tbody>
</table>
